ADF/pipeline/PL_Copy Table_Incrementaly_Dynamic.json
{
	"name": "PL_Copy Table_Incrementaly_Dynamic",
	"properties": {
		"activities": [
			{
				"name": "Lookup_OldWatermarkvalue",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select TableName, WatermarkValue as oldwatermarkvalue from watermarktable where tablename = '@{pipeline().parameters.Table_Name}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_DB_ggdb21_watermarktable",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Lookup_NewWatermarkvalue",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select max(@{pipeline().parameters.WatermarkValue}) as Newwatermarkvalue from @{pipeline().parameters.Table_Name};",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_DB_ggdb21_Source",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy data incrementaly dynamic",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup_OldWatermarkvalue",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Lookup_NewWatermarkvalue",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from @{pipeline().parameters.Table_Name} where @{pipeline().parameters.WatermarkValue} > '@{activity('Lookup_OldWatermarkvalue').output.firstRow.oldwatermarkvalue}' and @{pipeline().parameters.WatermarkValue} <= '@{activity('Lookup_NewWatermarkvalue').output.firstRow.newwatermarkvalue}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_DB_ggdb21_Source",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_DB_ggdb23_Target",
						"type": "DatasetReference",
						"parameters": {
							"DSTable_Name": {
								"value": "@pipeline().parameters.Table_Name",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "SP_Update watermark",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data incrementaly dynamic",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_write_watermark]",
					"storedProcedureParameters": {
						"LastModifiedtime": {
							"value": {
								"value": "@activity('Lookup_NewWatermarkvalue').output.firstRow.newwatermarkvalue",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TableName": {
							"value": {
								"value": "@activity('Lookup_OldWatermarkvalue').output.firstRow.tablename",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_DB_ggdb21_Source",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"Table_Name": {
				"type": "string",
				"defaultValue": "orders"
			},
			"WatermarkValue": {
				"type": "string",
				"defaultValue": "LastModifytime"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-12-31T10:33:30Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}