ADF1/pipeline/PL_CopyFile_IfNotExist.json
{
	"name": "PL_CopyFile_IfNotExist",
	"properties": {
		"activities": [
			{
				"name": "Copyfile_Ifnotexist",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_Storage_gg1storage3_Target_Dynamic",
						"type": "DatasetReference",
						"parameters": {
							"DS_Filename_Target": {
								"value": "@pipeline().parameters.PL_Filename",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If_FileNotExist",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Copyfile_Ifnotexist",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Copyfile_Ifnotexist').output.exists",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_Storage_gg1storage3_Source_Dynamic",
									"type": "DatasetReference",
									"parameters": {
										"DS_Filename": {
											"value": "@pipeline().parameters.PL_Filename",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_Storage_gg1storage3_Target_Dynamic",
									"type": "DatasetReference",
									"parameters": {
										"DS_Filename_Target": {
											"value": "@pipeline().parameters.PL_Filename",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"PL_Filename": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-05-25T15:43:21Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}